@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-image: url("src/assets/background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  font-family: "Lato", "Open Sans", "Helvetica Neue", sans-serif;
}